html{
    background-color: black;
}
h1{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}
p{
    text-align: center;
}
div{
    color: antiquewhite;
    width: 50%;
    margin-left: 25%;
}
img{
    border:5px solid antiquewhite;
    width: 100%;
}